@model EspleyTest.Viewer.Controllers.ResumeDTO

@{
	ViewBag.Title = "Резюме: " + Model.ApplicantName;
}

<h2 class="">@Model.ApplicantName</h2>
@Html.ActionLink("← К списку", "Index")

<div class="resume">
	@Html.Raw(Model.HtmlBody)
</div>